<div class="container">
  <h1 class="title-tab">Créer un utilisateur</h1>

  <div class="form-new-cours">
    <%= simple_form_for @user do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :username,
                    required: true,
                    input_html: { autocomplete: "username" }%>
        <%= f.input :status, label:"Statut", collection: ["Admin", "Prof", "Elève"], required: true %>
        <%= f.input :level, label:"Niveau", collection: ["6ème", "5ème", "4ème", "3ème", "2nd", "1ère", "Terminale", "All"], required: true %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <div class="btn-center">
          <%= f.button :submit, "Créer" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
