<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="<%= root_path %>"><%= image_tag('logo.png', class:'logo-nav') %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if current_user.status === 'Elève' %>
        <li class="nav-item">
            <%= link_to "Mes cours", cours_users_path, method: :get, class: "nav-link" %>
        </li>
      <% end %>
      <% if current_user.status === 'Admin' || current_user.status === 'Prof' %>
        <li class="nav-item">
          <%= link_to "Les cours", cours_path, method: :get, class: "nav-link" %>
        </li>
      <% end %>
      <% if current_user.status === 'Admin' %>
        <li class="nav-item">
          <%= link_to "Gestion des cours", new_cours_user_path, method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Gestion des utilisateurs", users_path, method: :get, class: "nav-link" %>
        </li>
      <% end %>

      <li class="nav-item deconnexion">
          <%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
      </li>
    </ul>
  </div>
</nav>

