<div class="container">
  <div class="container">
  <div class="tab d-flex">
    <button class="tablinks histoire">Histoire</button>
    <button class="tablinks geo">Géographie</button>
    <button class="tablinks emc">EMC</button>
  </div>

  <div class="all-cours">
    <div id="Histoire" class="tabcontent not-displayed rounded">
      <h2 class="title-cours">Histoire</h2>

      <% if !@hist_cours.empty? %>

        <div class="accordion" id="accordionHIST">
          <% @level_hist.each do |level| %>
            <div class="card">

              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-HIST-<%= level %>" aria-expanded="false" aria-controls="collapse-HIST-<%= level %>">
                <div class="card-header" id="headingOne">
                  <h4 class="mb-0">
                    <%= level %>
                  </h4>
                </div>
              </button>

              <div id="collapse-HIST-<%= level %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionHIST">
                <div class="card-body">
                  <ul class="list-group">
                    <% @hist_cours.each do |c| %>
                      <% if c.level === level %>
                        <%= link_to cour_path(c.id), class:'cours-link' do %>
                          <li class="list-group-item"><%= c.name %></li>
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      <% else %>
        <p>Pas de cours d'histoire pour le moment !</p>
      <% end %>
    </div>


    <div id="Géographie" class="tabcontent not-displayed rounded">
      <h2 class="title-cours">Géographie</h2>

      <% if !@geo_cours.empty? %>

        <div class="accordion" id="accordionGEO">
          <% @level_geo.each do |level| %>
            <div class="card">

              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-GEO-<%= level %>" aria-expanded="false" aria-controls="collapse-GEO-<%= level %>">
                <div class="card-header" id="headingTwo">
                  <h4 class="mb-0">
                    <%= level %>
                  </h4>
                </div>
              </button>

              <div id="collapse-GEO-<%= level %>" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionGEO">
                <div class="card-body">
                  <ul class="list-group">
                    <% @geo_cours.each do |c| %>
                      <% if c.level === level %>
                        <%= link_to cour_path(c.id), class:'cours-link' do %>
                          <li class="list-group-item"><%= c.name %></li>
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      <% else %>
        <p>Pas de cours de géo pour le moment !</p>
      <% end %>
    </div>


    <div id="EMC" class="tabcontent not-displayed rounded">
      <h2 class="title-cours">EMC</h2>
      <% if !@emc_cours.empty? %>


        <div class="accordion" id="accordionEMC">
          <% @level_emc.each do |level| %>
            <div class="card">

              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-EMC-<%= level %>" aria-expanded="false" aria-controls="collapse-EMC-<%= level %>">
                <div class="card-header" id="headingThree">
                  <h4 class="mb-0">
                    <%= level %>
                  </h4>
                </div>
              </button>

              <div id="collapse-EMC-<%= level %>" class="collapse" aria-labelledby="headingThree" data-parent="#accordionEMC">
                <div class="card-body">
                  <ul class="list-group">
                    <% @emc_cours.each do |c| %>
                      <% if c.level === level %>
                        <%= link_to cour_path(c.id), class:'cours-link' do %>
                          <li class="list-group-item"><%= c.name %></li>
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>


      <% else %>
        <p>Pas de cours d'EMC pour le moment !</p>
      <% end %>
    </div>
  </div>

  <div class="btn-center">
    <%= button_to "Créer un cours", new_cour_path, method: :get, class: "btn btn-secondary" %>
  </div>

</div>
