<div class="container">
  <div class="container">
  <div class="tab d-flex justify-content-between">
    <button class="tablinks active">Histoire</button>
    <button class="tablinks active">Géographie</button>
    <button class="tablinks active">EMC</button>
  </div>

  <div id="Histoire" class="tabcontent">
      <% if !@hit_cours.empty? %>
        <% @hit_cours.each do |c| %>
          <p><%= c.name %></p>
          <%= link_to "télécharger", download_path(c.file), target: "_blank" %>
        <% end %>
      <% else %>
        <p>Pas de cours d'histoire pour le moment !</p>
      <% end %>
  </div>

  <div id="Géographie" class="tabcontent not-displayed">
    <% if !@geo_cours.empty? %>
      <% @geo_cours.each do |c| %>
        <p><%= c.name %></p>
        <%= link_to "télécharger", download_path(c.file), target: "_blank" %>
      <% end %>
    <% else %>
      <p>Pas de cours de géo pour le moment !</p>
    <% end %>
  </div>

  <div id="EMC" class="tabcontent not-displayed">
    <% if !@emc_cours.empty? %>
      <% @emc_cours.each do |c| %>
        <p><%= c.name %></p>
        <%= link_to "télécharger", download_path(c.file), target: "_blank" %>
      <% end %>
    <% else %>
      <p>Pas de cours d'EMC pour le moment !</p>
    <% end %>
  </div>

  <%= button_to "Créer un nouveau cours", new_cour_path, method: :get, class: "btn btn-secondary" %>

</div>
