<div class="container">
  <h1 class="title-tab">Création de cours</h1>
  <div class="form-new-cours">
    <%= simple_form_for @cours do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :category, label:"Matière", collection: ["Histoire", "Géographie", "EMC"] %>
        <%= f.input :name, label:"Titre", required: true %>
        <%= f.input :level, label:"Niveau", collection: ["6ème", "5ème", "4ème", "3ème", "2nd", "1ère", "Terminale", "All"], required: true %>
        <%= f.input :file, label:"Cours", as: :file %>
        <%= f.input :img, label:"Image", as: :file %>
        <%= f.label "Fichiers supplémentaires : "  %>
        <%= f.file_field :aditional_files, multiple: :true %>
        <%= f.input :description, label:"Informations", as: :text %>
      </div>

      <div class="form-actions">
        <div class="btn-center">
          <%= f.button :submit, "Créer" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
