<div class="container">
  <h1>Création de cours</h1>

  <%= simple_form_for @cours do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :category, label:"Matière", collection: ["Histoire", "Géographie", "EMC"] %>
      <%= f.input :name, label:"Titre", required: true %>
      <%= f.input :level, label:"Niveau", collection: ["6ème", "5ème", "4ème", "3ème", "2nd", "1ère", "Terminale", "All"], required: true %>
      <%= f.input :file, label:"Cours", as: :file %>
      <%= f.input :description %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Créer" %>
    </div>
  <% end %>

</div>

